@using SQLDataAccess.Models
@using TicketSystem.Managers
@inject TicketManager ticketManager
@inject UserManager userManager
@inject NavigationManager nav


<table class="table table-striped">
    <thead>
        <tr>
            <td></td>
            <td>Id</td>
            <td>Title</td>
            <td>Status</td>
            <td>Date</td>
            <td>Requestor</td>
        </tr>
    </thead>
    <tbody>
        @foreach(TicketModel ticket in tickets)
        {
            <tr>
                <td>
                    <button class="btn btn-outline-info" @onclick="() => EditTicket(ticket.Id)">Edit</button>
                    <button class="btn btn-outline-danger" @onclick="() => DeleteTicket(ticket.Id)">Delete</button>
                </td>
                <td>@ticket.Id</td>
                <td>@ticket.Title</td>
                <td>@Enum.GetName(typeof(TicketStatus), ticket.Status)</td>
                <td>@ticket.DateTime</td>
                <td>@userManager.GetUserById(@ticket.RequestorId).EmailAddress</td>
            </tr>
        }
    </tbody>
</table>



@code {

    List<TicketModel> tickets = new List<TicketModel>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        tickets = await ticketManager.LoadTickets();
    }

    private void EditTicket(int id)
    {
        nav.NavigateTo($"/edit-ticket/{id}");
    }

    private void DeleteTicket(int id)
    {
        //Open modal dialog
        //Delete ticket
    }

}
