@using SQLDataAccess.Models
@using TicketSystem.Managers
@inject TicketManager ticketManager
@inject UserManager userManager


<table class="table table-striped">
    <thead>
        <tr>
            <td></td>
            <td>Id</td>
            <td>Title</td>
            <td>Status</td>
            <td>Date</td>
            <td>Requestor</td>
        </tr>
    </thead>
    <tbody>
        @foreach(TicketModel ticket in tickets)
        {
            <tr>

                <td></td>
                <td>@ticket.Id</td>
                <td>@ticket.Title</td>
                <td>@Enum.GetName(typeof(TicketStatus), ticket.Status)</td>
                <td>@ticket.DateTime</td>
                <td>@userManager.GetUserById(@ticket.RequestorId).EmailAddress</td>
            </tr>
        }
    </tbody>
</table>



@code {

    List<TicketModel> tickets = new List<TicketModel>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        tickets = await ticketManager.LoadTickets();

    }

}
