@using SQLDataAccess.Models
@using TicketSystem.Managers
@inject TicketManager ticketManager
@inject UserManager userManager
@inject NavigationManager nav

<ModalComponent @ref="warningModal" Title="Delete ticket" SubmitButtonTitle="Delete ticket" Callback="DeleteTicket">
    <p>Delete this ticket? You can not undo this action.</p>
</ModalComponent>

<table class="table table-striped">
    <thead>
        <tr>
            <td></td>
            <td>Id</td>
            <td>Title</td>
            <td>Status</td>
            <td>Date</td>
            <td>Requestor</td>
        </tr>
    </thead>
    <tbody>
        @foreach(TicketModel ticket in tickets)
        {
            <tr>
                <td>
                    <button class="btn btn-outline-info" @onclick="() => EditTicket(ticket.Id)">Edit</button>
                    <button class="btn btn-outline-danger" @onclick="() => OpenDeleteTicket(ticket.Id)">Delete</button>
                </td>
                <td>@ticket.Id</td>
                <td>@ticket.Title</td>
                <td>@Enum.GetName(typeof(TicketStatus), ticket.Status)</td>
                <td>@ticket.DateTime</td>
                <td>@userManager.GetUserById(@ticket.RequestorId).EmailAddress</td>
            </tr>
        }
    </tbody>
</table>



@code {
    private ModalComponent warningModal;
    private int idTicketToDelete;

    List<TicketModel> tickets = new List<TicketModel>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        tickets = await ticketManager.LoadTickets();
    }

    private void EditTicket(int id)
    {
        nav.NavigateTo($"/edit-ticket/{id}");
    }

    private void OpenDeleteTicket(int id)
    {
        warningModal.Show();
        idTicketToDelete = id;
        //Delete ticket
    }

    private async Task DeleteTicket()
    {
        await ticketManager.DeleteTicketById(idTicketToDelete);
        var ticketToRemove = tickets.FirstOrDefault(x => x.Id == idTicketToDelete);
        tickets.Remove(ticketToRemove);
        await InvokeAsync(StateHasChanged);
    }

}
